<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <style>
    /* Styles for the container div */
    div {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Styles for the h1 element */
    h1 {
      text-align: center;
      color: #333;
    }

    /* Styles for the form */
    form {
      margin-top: 20px;
    }

    /* Styles for the label */
    label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    /* Styles for the input field */
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    /* Styles for the button */
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    /* Hover effect for the button */
    button[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>


  <div>
    <h1>URL SHORTNER APP</h1>
    <!-- locals stored backend data -->
    <% if (locals.id) { %>
      <p>URL Generated: https://localhost:8000/url/<%= id%> </p>
     
    <% } %>

    <form method="POST" action="/url">

      <label for="url-label">Enter your Original URL</label>
      <input type="text" placeholder="https://example.com" name="url" id="url">
      <button type="submit">Generate</button>
    </form>
  </div>


</body>

</html>